altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
amqp==5.2.0
annotated-types==0.7.0
anyio==4.6.2.post1
APScheduler==3.10.4
async-timeout==5.0.1
attrs==24.2.0
beautifulsoup4==4.12.3
billiard==3.6.4.0
blinker==1.9.0
cachetools==5.5.0
celery==5.2.7
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dataclasses-json==0.5.14
db-dtypes==1.3.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
fastapi==0.95.0
flasgger==0.9.7.1
Flask==3.0.3
Flask-Cors==5.0.0
frozendict==2.4.6
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
google-api-core==2.20.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.66.1
h11==0.14.0
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.6
httpx==0.26.0
idna==3.8
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
json-schema-for-humans==1.0.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.4.2
lazy_loader==0.4
lxml==5.3.0
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
markdown2==2.5.0
MarkupSafe==2.1.5
marshmallow==3.22.0
mistune==3.0.2
multitasking==0.0.11
mypy-extensions==1.0.0
nanoid==2.0.0
numpy==2.0.2
oauthlib==3.2.2
ollama-python==0.1.2
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
pandas-gbq==0.23.2
peewee==3.17.7
platformdirs==4.3.6
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==5.28.2
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyatlan==2.5.3
pydantic==2.9.2
pydantic_core==2.23.4
pydata-google-auth==1.8.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
redis==4.5.4
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
responses==0.24.1
rfc3986==1.5.0
rpds-py==0.21.0
rsa==4.9
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sniffio==1.3.1
soupsieve==2.6
starlette==0.26.1
tenacity==8.2.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.6
uvicorn==0.21.1
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
yfinance==0.2.48
zipp==3.20.2
